In [1]:
import pandas as pd

df_students = pd.read_csv('./data/grades.csv', delimiter=',', header='infer')

df_students.head()

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [2]:
mean_grade = df_students['Grade'].mean()

print('Average grade: {:.2f}'.format(mean_grade))

Average grade: 49.18