In [1]:
import pymysql
import pandas as pd

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
conn = pymysql.connect(
  host = 'localhost',
  user='root',
  password='',
  db='geeks'
)

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('SELECT * FROM ncd_screen')
ncd_screen_data = cur.fetchall()
pd.DataFrame(ncd_screen_data)

In [ ]:
cur.execute('show columns from ncd_screen;')
temp = cur.fetchall()
ncd_screen_col = pd.DataFrame(temp)[0].tolist()
ncd_screen_col

In [14]:
ncd_screen_df = pd.DataFrame(
  data = ncd_screen_data,
  columns = ncd_screen_col
)
ncd_screen_df

,hospcode,pid,seq,ncd_screen_date_serv,servplace,smoke,alcohol,dmfamily,htfamily,weight,height,waist_cm,sbp_1,dbp_1,sbp_2,dbp_2,bslevel,bstest,screenplace
0,11023,008765,3499362,2013-12-02,1,1,1,9,1,55.0,149,88,113,68,110,89,86.0,3,11023
1,11024,017330,1841142,2015-12-16,1,1,1,2,2,46.0,154,76,120,60,120,60,130.0,3,11024
2,12418,049945,705117,2020-07-09,1,1,1,2,2,52.0,160,74,110,59,110,60,88.0,3,12418
3,12418,055877,693664,2020-09-01,1,1,1,2,2,50.0,165,74,100,65,100,60,85.0,3,12418
4,12418,053288,705105,2020-07-09,1,1,1,2,2,56.0,160,78,110,63,110,63,85.0,3,12418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4598,11446,014519,59273138,2020-10-21,1,1,1,2,2,57.0,153,88,156,79,110,70,212.0,3,11446
4599,11446,010042,59401629,2020-11-04,1,1,1,2,2,53.0,160,80,114,79,114,79,96.0,3,11446
4600,4569,2016,217544,2014-08-15,2,1,2,1,0,65.0,168,94,120,80,100,70,124.0,3,4569
4601,10710,987410,940599590,2020-06-26,1,1,1,1,1,58.0,158,75,103,76,0,0,116.0,1,10710
4602,10710,969374,979697274,2020-08-20,1,1,3,1,1,88.7,176,100,130,90,0,0,129.0,1,10710